img{
    width:40vw;
    height:auto;
    border-radius: 10px, 20px, 30px, 50px;
    box-shadow:5px 5px lightpink;
    margin: 20px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-shadow:3px 5px lightcoral;
    font-size: larger;
    font-style: italic;
    }