img{
    width:40vw;
    height:auto;
    border-radius: 10px, 20px, 30px, 50px;
    box-shadow:10px 10px darkgrey;
    margin-right: 200px;
    margin-bottom: 50px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-shadow:3px 5px lightcoral;
    font-size: 40px;
    font-style: italic;
    color:lightslategrey;
    }
body{
    background-color: lightyellow;
}